* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  background: #222;
  padding: .5rem 1rem;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  
}

.topnav #myLinks {
  display: flex;
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(28, 221, 195);
}

.logo {
  background-color: #222;
  height: 10vh;
  margin: 72;

}

.nav-container {
  background: #222;
 
}

