* {
  box-sizing: border-box;
}
.section {
  height: 100vh;
  background: #181a1a;
  
}
.heading {
    display: flex;
    margin-left: 500px;
    font-family: inherit;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px #333
}
.owl-carousel {
  display: flex;
  align-items: center;
}
.content-testimonial {
  background: rgba(189, 237, 243, 0.952);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  border-radius: 20px;
}
.image {
  border-radius: 20%;
  border-width: 50px;
  padding-right: 650;
  
}
.title {
    color: rgb(20, 175, 180);
    font-size: xx-large;
}
.text {
  
}